[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
requests = "*"
pyodbc = "==4.0.28"

[requires]
python_version = "3.8"
